@using System.Configuration
@model Core.ViewModels.ResponseViewModel

@{
    ViewBag.Title = "Api Tool -> Slot Lock";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

@Html.Partial("Partials/_partnerDetails")

<form action="/slotlock/invoke" method="POST">
    Restaurant Id: <input type="text" name="restaurantId" value="@Html.Raw(ConfigurationManager.AppSettings["RestaurantId"])"><br />
    Party size: <input type="text" name="partySize" value="@Html.Raw(ConfigurationManager.AppSettings["PartySize"])"><br />
    Date time: <input type="text" name="dateTime" value="@Html.Raw(new DateTime(DateTime.Now.AddDays(1).Year, DateTime.Now.AddDays(1).Month, DateTime.Now.AddDays(1).Day, 19, 00, 00))"><br />
    Results key: <input type="text" name="resultsKey"><br />                  
    Security Id: <input type="text" name="securityId"><br />
    <br /><br />            
    <input type="submit" value="Get results"> 
            
    <a href="/slotlock">Start again</a>
</form> 

@Html.Partial("Partials/_output", Model)
